*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2017/07/28/1095731/4dad9c15b1feb0088cd2e5d39f1fe0e3-700.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}



